client/package-lock.json
client/webpack-stats.json
front/.idea/
front/package-lock.json
package-lock.json
*.pyc
*.pyx
*.pyd
*.so
*.c
client-static/.idea/
node_modules/
.idea
testing.py
testing
.idea
.vscode
*.sqlite3
builds
build
*.pid
venv